body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  border-bottom: 1px solid seashell;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header img {
  margin-left: 10px;
  height: 50px;
}

.nav-container ul {
  display: flex;
}

.nav-container li {
  list-style-type: none;
  padding: 20px;
}

.nav-container a {
  color: seashell;
}
